<!DOCTYPE html>
<html>
    <head>
        <title>Admin Controls</title>
    </head>
    <body>

    Create<br>
    <form>
        <label for="user_name">USERNAME:</label><br>
        <input type="text" id="user_name" name="user_name" placeholder="Username"><br>

        <label for="password">PASSWORD:</label><br>
        <input type="password" id="password" name="password" placeholder="Password"><br>
 
    </form>
    <button type="button">Upload New User</button>

    <form>
        <label for="class_name">Class:</label><br>
        <input type="text" id="class_name" name="class_name" placeholder="Class name"><br>

        <label for="start_time">Start time:</label><br>
        <input type="start_time" id="start_time" name="start_time" placeholder="Start time"><br>

        <label for="end_time">End time:</label><br>
        <input type="end_time" id="end_time" name="end_time" placeholder="End time"><br>

        <label for="capacity">Capacity:</label><br>
        <input type="capacity" id="capacity" name="capacity" placeholder="Capactiy"><br>

        <label for="current_enrollment">Currently Enrolled:</label><br>
        <input type="current_enrollment" id="current_enrollment" name="current_enrollment" placeholder="Current Enrollment"><br>

        <label for="teacher">Teacher:</label><br>
        <input type="teacher" id="teacher" name="teacher" placeholder="Teacher"><br>
    
    </form>
    <button type="button">Upload New Class</button>

    Read<br>
    <form>
        <label for="search_user">USERNAME:</label><br>
        <input type="search_user" id="search_user" name="search_user" placeholder="Search user"><br>
    </form>
    <button type="button">View User Details</button>

    <form>
        <label for="search_class">Class Name:</label><br>
        <input type="search_class" id="search_class" name="search_class" placeholder="Search class"><br>
    </form>
    <button type="button">View Class Details</button>

    Update
    <button type="button">Edit Details</button>

    Delete
    <button type="button">Purge</button>

    </body>
</html>