<!DOCTYPE html>
<html>
    <head>
        <title>Admin Controls</title>
        <link href="static/styles.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>

    <div class="admin">

        <h1>Create New User</h1>
        <form>
            <label for="user_name">Username:</label><br>
            <input type="text" id="add_username" name="user_name" placeholder="Username"><br>

            <label for="name">Name:</label><br>
            <input type="text" id="add_name" name="name" placeholder="Name"><br>

            <label for="password">Password:</label><br>
            <input type="text" id="add_password" name="password" placeholder="Password"><br>

            <label for="acct_type">Account Type:</label><br>
            <p>0-Student 1-Teacher 2-Admin</p>
            <input type="number" id="add_acct_type" name="acct_type" placeholder="Account Type"><br>
        </form>
        <button type="button" id = "admin_newuser">Upload New User</button><br>
        <hr>
        <h1>Create New Class</h1>
        <form>
            <label for="class_name">Class:</label><br>
            <input type="text" id="add_class_name" name="class_name" placeholder="Class name"><br>

            <label for="time">Time:</label><br>
            <input type="text" id="add_time" name="time" placeholder="Time"><br>

            <label for="capacity">Capacity:</label><br>
            <input type="number" id="add_capacity" name="capacity" placeholder="Capactiy"><br>

            <label for="current_enrollment">Currently Enrolled:</label><br>
            <input type="number" id="add_current_enrollment" name="current_enrollment" placeholder="Current Enrollment"><br>

            <label for="teacher">Teacher:</label><br>
            <input type="teacher" id="add_teacher" name="teacher" placeholder="Teacher"><br>
        </form>
        <button type="button" id = "admin_newclass">Upload New Class</button><br>
        <hr>
        <h1>Enroll Student in Class</h1>
        <form>
            <label for="enroll_username">Username:</label><br>
            <input type="text" id="enroll_user_name" name="enroll_user_name" placeholder="Username"><br>

            <label for="enroll_classname">Class:</label><br>
            <input type="text" id="enroll_classname" name="enroll_classname" placeholder="Class"><br>

            <label for="enroll_grade">Grade:</label><br>
            <input type="number" id="enroll_grade" name="enroll_grade" placeholder="Grade"><br>
        </form>
        <button type="button" id = "admin_enroll">Enroll Student in Class</button><br>
        <hr>
        Read<br>
        <form>
            <label for="search_user">USERNAME:</label><br>
            <input type="search_user" id="search_user" name="search_user" placeholder="Search user"><br>
        </form>
        <button type="button">View User Details</button><br>

        <form>
            <label for="search_class">Class Name:</label><br>
            <input type="search_class" id="search_class" name="search_class" placeholder="Search class"><br>
        </form>
        <button type="button">View Class Details</button><br>
        <hr>
        Update<br>
        <form>
            <label for="edit_user">USERNAME:</label><br>
            <input type="edit_user" id="edit_user" name="edit_user" placeholder="Edit user"><br>
        </form>
        <button type="button">Update User Details</button><br>

        <form>
            <label for="search_class">Class Name:</label><br>
            <input type="edit_class" id="edit_class" name="edit_class" placeholder="Edit class"><br>
        </form>
        <button type="button">Update Class Details</button><br>
        <hr>
        Delete<br>
        <form>
            <label for="purge_user">USERNAME:</label><br>
            <input type="purge_user" id="purge_user" name="purge_user" placeholder="Purge user"><br>
        </form>
        <button type="button">Purge User</button><br>

        <form>
            <label for="purge_class">Class Name:</label><br>
            <input type="purge_class" id="purge_class" name="purge_class" placeholder="Purge class"><br>
        </form>
        <button type="button">Purge Class</button><br>

        <button type="button">Purge All Users</button>
        <button type="button">Purge All Classes</button>
        <button type="button" id = "logoutAdmin" class = "logout">Log Out</button>
        <script src="static/script.js"></script>

    </div>
    </body>
</html>