<!DOCTYPE html>
<html>
    <head>
        <title>Admin Controls</title>
        <link href="../static/styles.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>

    <div class="admin">
        <h1>Users Data</h1>
        <table id = "admin_users">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Password</th>
                    <th>Account Type</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{user.user_id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.password}}</td>
                    <td>{{user.acct_type}}</td>
                </tr>
                {% endfor %}</tbody>
        </table><br>
        <hr>
        <h1>Courses Data</h1>
        <table id = "admin_courses">
            <thead>
                <tr>
                    <th>Class ID</th>
                    <th>Class Name</th>
                    <th>Teacher</th>
                    <th>Time</th>
                    <th>Enrolled</th>
                    <th>Capacity</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td>{{course.class_id}}</td>
                    <td>{{course.class_name}}</td>
                    <td>{{course.teacher}}</td>
                    <td>{{course.time}}</td>
                    <td>{{course.enrolled}}</td>
                    <td>{{course.capacity}}</td>
                </tr>
                {% endfor %}</tbody>
        </table><br>
        <hr>
        <h1>Enrollment Data</h1>
        <table id = "admin_enrollment">
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Class Name</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(0, length) %}
                <tr>
                    <td>{{enrollUsers[i]}}</td>
                    <td>{{enrollCourses[i]}}</td>
                    <td>{{enrollGrades[i]}}</td>
                </tr>
                {% endfor %}</tbody>
        </table><br>
        <hr>
        <h1>Create New User</h1>
        <form>
            <label for="user_name">Username:</label><br>
            <input type="text" id="add_username" name="user_name" placeholder="Username"><br>

            <label for="name">Name:</label><br>
            <input type="text" id="add_name" name="name" placeholder="Name"><br>

            <label for="password">Password:</label><br>
            <input type="text" id="add_password" name="password" placeholder="Password"><br>

            <label for="acct_type">Account Type:</label><br>
            <p>0-Student 1-Teacher 2-Admin</p>
            <input type="number" id="add_acct_type" name="acct_type" placeholder="Account Type"><br>
        </form>
        <button type="button" id = "admin_newuser">Upload New User</button><br>
        <hr>
        <h1>Create New Class</h1>
        <form>
            <label for="class_name">Class:</label><br>
            <input type="text" id="add_class_name" name="class_name" placeholder="Class name"><br>

            <label for="time">Time:</label><br>
            <input type="text" id="add_time" name="time" placeholder="Time"><br>

            <label for="capacity">Capacity:</label><br>
            <input type="number" id="add_capacity" name="capacity" placeholder="Capactiy"><br>

            <label for="current_enrollment">Currently Enrolled:</label><br>
            <input type="number" id="add_current_enrollment" name="current_enrollment" placeholder="Current Enrollment"><br>

            <label for="teacher">Teacher:</label><br>
            <input type="teacher" id="add_teacher" name="teacher" placeholder="Teacher"><br>
        </form>
        <button type="button" id = "admin_newclass">Upload New Class</button><br>
        <hr>
        <h1>Enroll Student in Class</h1>
        <form>
            <label for="enroll_username">Username:</label><br>
            <input type="text" id="enroll_user_name" name="enroll_user_name" placeholder="Username"><br>

            <label for="enroll_classname">Class:</label><br>
            <input type="text" id="enroll_classname" name="enroll_classname" placeholder="Class"><br>

            <label for="enroll_grade">Grade:</label><br>
            <input type="number" id="enroll_grade" name="enroll_grade" placeholder="Grade"><br>
        </form>
        <button type="button" id = "admin_enroll">Enroll Student in Class</button><br>
        <hr>
        <h1>Update User</h1>
        <form>
            <label for="update_original_user">Original Username:</label><br>
            <input type="text" id="update_original_user" name="update_original_user" placeholder="Original Username"><br>

            <label for="update_new_user">New Username:</label><br>
            <input type="text" id="update_new_user" name="update_new_user" placeholder="New Username"><br>

            <label for="update_new_name">New Name:</label><br>
            <input type="text" id="update_new_name" name="update_new_name" placeholder="New Name"><br>

            <label for="update_new_password">New Password:</label><br>
            <input type="text" id="update_new_password" name="update_new_password" placeholder="New Password"><br>

            <label for="update_new_type">New Account Type:</label><br>
            <input type="number" id="update_new_type" name="update_new_type" placeholder="Account Type"><br>
        </form>
        <button type="button" id = "update_user">Update User</button><br>
        <hr>
        <h1>Update Class</h1>
        <form>
            <label for="original_class_name">Original Class Name:</label><br>
            <input type="text" id="original_class_name" name="original_class_name" placeholder="Original Class Name"><br>

            <label for="new_class_name">New Class Name:</label><br>
            <input type="text" id="new_class_name" name="new_class_name" placeholder="New Class Name"><br>

            <label for="new_teacher">New Teacher:</label><br>
            <input type="text" id="new_teacher" name="new_teacher" placeholder="New Teacher"><br>

            <label for="new_time">New Time:</label><br>
            <input type="text" id="new_time" name="new_time" placeholder="New Time"><br>

            <label for="new_enrolled">New Enrolled Amount:</label><br>
            <input type="text" id="new_enrolled" name="new_enrolled" placeholder="New Enrolled Amount"><br>

            <label for="new_capacity">New Capacity:</label><br>
            <input type="text" id="new_capacity" name="new_capacity" placeholder="New Capacity"><br>
        </form>
        <button type="button" id = "update_class">Update Class</button><br>
        <hr>
        <h1>Update Grade</h1><br>
        <form>
            <label for="update_grade_name">Username:</label><br>
            <input type="text" id="update_grade_name" name="update_grade_name" placeholder="Username"><br>

            <label for="update_grade_classname">Class Name:</label><br>
            <input type="text" id="update_grade_classname" name="update_grade_classname" placeholder="Class Name"><br>

            <label for="update_grade">Grade:</label><br>
            <input type="number" id="update_grade" name="update_grade" placeholder="Grade"><br>
        </form>
        <button type="button" id = "update_grade_button">Update Grade</button><br>

        <form>
            <label for="search_class">Class Name:</label><br>
            <input type="edit_class" id="edit_class" name="edit_class" placeholder="Edit class"><br>
        </form>
        <button type="button">Update Class Details</button><br>
        <hr>
        <h1>Delete User</h1><br>
        <form>
            <label for="delete_user">Username:</label><br>
            <input type="delete_user" id="delete_user" name="delete_user" placeholder="Username"><br>
        </form>
        <button type="button" id = "delete_user_button">Delete User</button><br>
        <hr>
        <form>
            <label for="purge_class">Class Name:</label><br>
            <input type="purge_class" id="purge_class" name="purge_class" placeholder="Purge class"><br>
        </form>
        <button type="button">Purge Class</button><br>

        <button type="button">Purge All Users</button>
        <button type="button">Purge All Classes</button>
        <button type="button" id = "logoutAdmin" class = "logout">Log Out</button>
        <script src="../static/script.js"></script>

    </div>
    </body>
</html>