<!DOCTYPE html>
<html>
    <head>
        <title>Zis be ze t1tl3</title>
    </head>
    <body>

    <form>
        <label for="user_name">USERNAME:</label><br>
        <input type="text" id="user_name" name="user_name"><br>
        <label for="password">PASSWORD:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="password"></label><br>
    </form>

    <button type="button">Log In (Does nothing for now, just needs to exist)</button>

    </body>
</html>