<!DOCTYPE html>
<html>
    <head>
        <title>Class Details</title>
        <link href="static/styles.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div class='teacher_view_class_details'>
            <h1 class = "center">Teacher Page</h1>
            <h2 class = "center">{{class_name}}</h2>
            <table id = "coursedetails">
                <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>Grade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for names in listStudentNames %}
                    {% for grade in grades %}
                    <tr>
                        <td>{{names}}</td>
                        <td>{{grade}}</td>
                    </tr>
                    {% endfor %}</tbody>
            </table><br>
            <button type="button" class = "logout" id = "logoutTeacherDetails">Log Out</button>
            <script src="static/script.js"></script>
        </div>
    </body>
</html>